        body {
            font-family: sans-serif;
            box-sizing: border-box;
            background-color: rgb(39, 38, 70);
            color: aliceblue;
            font-size: smaller;
        }

        .auth-form-container {
            display: flex;
            justify-content: center;
            height: 90dvh;
            align-items: center;
            /* border: 1px solid black; */
            position: relative;
        }
        .login-form-container {
            opacity: 1;
            pointer-events: auto;
            transform: scale(1);
        }
        .sign-up-form-container {
            opacity: 0;
            pointer-events: none;
            transform: scale(0.8);
        }
        #toggle:checked ~ .login-form-container {
            opacity: 0;
            pointer-events: none;
            transform: scale(0.8);
        }
        #toggle:checked ~ .sign-up-form-container {
            opacity: 1;
            pointer-events: auto;
            transform: scale(1);
        }
        
        /* login-signin form container both together */
        .losi {
            margin: 0 50px;
            padding: 30px;
            width: 90%;
            max-width: fit-content;
            border: 1px solid rgba(255, 255, 255, 0.59);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
            border-radius: 17px;
            background-color: rgba(0, 0, 0, 0.433);
            backdrop-filter: blur(5px);
            
            position: absolute;
            
            transition: all 0.14s ease-in-out,
            opacity 0.3s ease,
            transform 0.3s ease;
        }
        .losi:hover {
            transform: translateY(-2px);
            box-shadow: 0 0 50px 0 rgba(255, 255, 255, 0.242);
            border: 1px solid rgba(255, 255, 255, 0.849);
        }
        
        h2 {
            margin: 10px 13px;
        }
        /* login and signup button  */
        .button {
            display: flex;
            justify-content: center;
            margin: 25px 0;
            padding: 5px;
        }

        /* sign in/up buttons */
        .sign-button {
            height: 35px;
            width: 100%;
            max-width: none;
            border-radius: 10px;
            background-color: rgb(218, 50, 84);
            border: 1px solid transparent;
            color: aliceblue;
            font-weight: 700;
            box-shadow: 0 4px 10px rgba(0,0,0,0.15);
            
            transition: box-shadow 0.2s ease,
            border 0.2s ease,
            transform 0.1s ease;
        }
        .sign-button:hover {
            background-color: rgb(225, 30, 69);
            box-shadow: 0 0 15px 0 rgb(218, 50, 84);
            border: 1px solid rgb(217, 105, 126);
            transform: scale(1.02);
        }
        .sign-button:active {
            background-color: rgb(225, 30, 69);
            transform: scale(0.98);
        }
        /* all the forms of login and signup */
        .formlosi {
            margin: 10px 0;
            padding: 5px;

        }
        
        input {
            height: 30px;
            width: 100%;
            max-width: 300px;
            border-radius: 10px;
            padding: 0 0 0 10px;
        }
        input::placeholder {
            font-size: 12px;
        }
        select {
            height: 30px;
            width: 100%;
            max-width: 300px;
            border-radius: 10px;
            padding: 0 0 0 10px;
        }
        
        .grid-container {
            display: grid;
            grid-auto-flow: column;
            margin: 0 10px 10px 10px;
            justify-content: center;
            column-gap: 12%;
        }

        /* Forgot password? */
        .text1 {
            font-size: x-small;
            margin: 7px 17px 0 17px;
        }
        
        /* or continue with  */
        .text2 {
            display: flex;
            justify-content: center;
            font-size: x-small;
            margin: 15px;
            opacity: 0.8;
        }
        
        .password-login {
            margin-bottom: 0;
        }
        /* to switch between signin and signup */
        .switch{
            font-size: x-small;
            margin: 0 75px;
            color: rgba(240, 248, 255, 0.795);
        }
        .switch-button {
            background: none;
            border: none;
            color: aliceblue;
            font-size: x-small;
            font-weight: 700;
            text-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
            
            transition: all 0.15s ease;
        }
        .switch-button:hover {
            text-shadow: 0 0 2px white;
            cursor: pointer;
        }
        .socials {
            height: 30px;
            width: 80px;
            border: 1px solid transparent;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            transition: box-shadow 0.2s ease,
            transform 0.1s ease;
        }
        .socials:hover {
            box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.29);
            transform: scale(1.02);
        }
        .socials:active {
            transform: scale(0.98);
        }
        .socials img{
            height: 20px;
            width: 20px;
        }
        
        .icon span img {
            height: 35px;
        }
        header {
            padding: 5px 0 0 10px;
        }
        .h1 {
            display: flex;
            justify-content: center;
        }
        .hover1:hover {
            cursor: pointer;
        }
        .forgot-pass:hover {
            opacity: 0.7;
        }
        .checkbox {
            display: none;
        }
        select {
            width: 100%;
            max-width: 314px;
        }
        
        
        @keyframes move {
            100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
        }
        }
        
        .background {
            position: fixed;
            z-index: -1;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background: #0f172a;
            overflow: hidden;
        }
        
        .background span {
            width: 40vmin;
            height: 40vmin;
            border-radius: 40vmin;
            backface-visibility: hidden;
            position: absolute;
            animation: move;
            animation-duration: 20;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
        
        
        .background span:nth-child(0) {
            color: #38bdf8;
            top: 5%;
            left: 64%;
            animation-duration: 79s;
            animation-delay: -149s;
            transform-origin: 23vw 10vh;
            box-shadow: 80vmin 0 10.279572677232714vmin currentColor;
        }
        .background span:nth-child(1) {
            color: #f472b6;
            top: 61%;
            left: 44%;
            animation-duration: 146s;
            animation-delay: -266s;
            transform-origin: -19vw 13vh;
            box-shadow: 80vmin 0 10.169033642739869vmin currentColor;
        }
        .background span:nth-child(2) {
            color: #f472b6;
            top: 5%;
            left: 78%;
            animation-duration: 41s;
            animation-delay: -6s;
            transform-origin: -7vw 21vh;
            box-shadow: 80vmin 0 10.098465326005364vmin currentColor;
        }
        .background span:nth-child(3) {
            color: #a78bfa;
            top: 74%;
            left: 82%;
            animation-duration: 41s;
            animation-delay: -282s;
            transform-origin: 11vw 10vh;
            box-shadow: 80vmin 0 10.983639863950666vmin currentColor;
        }
        .background span:nth-child(4) {
            color: #60a5fa;
            top: 64%;
            left: 26%;
            animation-duration: 6s;
            animation-delay: -223s;
            transform-origin: 21vw 8vh;
            box-shadow: 80vmin 0 10.124396757879596vmin currentColor;
        }
        .background span:nth-child(5) {
            color: #f472b6;
            top: 26%;
            left: 92%;
            animation-duration: 131s;
            animation-delay: -87s;
            transform-origin: -11vw -7vh;
            box-shadow: 80vmin 0 10.133169629775365vmin currentColor;
        }
        .background span:nth-child(6) {
            color: #f472b6;
            top: 70%;
            left: 85%;
            animation-duration: 64s;
            animation-delay: -109s;
            transform-origin: 2vw -6vh;
            box-shadow: -80vmin 0 10.747250669871667vmin currentColor;
        }
        .background span:nth-child(7) {
            color: #c084fc;
            top: 27%;
            left: 20%;
            animation-duration: 135s;
            animation-delay: -204s;
            transform-origin: -2vw -5vh;
            box-shadow: 80vmin 0 10.153346869635865vmin currentColor;
        }
        .background span:nth-child(8) {
            color: #c084fc;
            top: 75%;
            left: 42%;
            animation-duration: 50s;
            animation-delay: -118s;
            transform-origin: 20vw -1vh;
            box-shadow: -80vmin 0 10.491061705645498vmin currentColor;
        }
        .background span:nth-child(9) {
            color: #f472b6;
            top: 31%;
            left: 71%;
            animation-duration: 282s;
            animation-delay: -245s;
            transform-origin: -24vw -10vh;
            box-shadow: -80vmin 0 10.354764350037714vmin currentColor;
        }